*.db
*.log
*.bit
*.area
*.bid
/output.dat
/top_tdmap.v
/top_tdpack.v
/top_tdread.v
/top_tdrtl.v
*.bak
*.o
*.elf
*.sof
*.rel
*.lst
/*.timing
/test_phy.tsm
/briey/*.dis
!/briey/crt.S
/briey/*.s
/briey/*.i
/briey/*.map
